<div class="content-header">
    <h1 class="content-title">Administrar Facturas</h1>
    <button class="add-invoice-btn" title="Agregar Nueva Factura">
        <span class="material-icons" onclick="adjuntarHTML('/factura-view/crear-factura.html', cargarVistaCrearFactura)">add_box</span>
    </button>
</div>
<div class="search-bar">
    <input id="search-bar" type="text" placeholder="Buscar facturas..." onkeypress="filterTable(6)">
</div>
<div class="filters">
    <select id="selectPageSize" onchange="filterTable(6)">
        <option value="5">5 por página</option>
        <option value="10" selected>10 por página</option>
        <option value="25">25 por página</option>
        <option value="50">50 por página</option>
        <option value="100">100 por página</option>
    </select>
    <select id="estadoFiltro" onchange="filterTable(6)">
        <option value="2">Todos</option>
        <option value="1" selected>Activas</option>
        <option value="0">Inactivas</option>
    </select>
    <div class="date-range">
        <input id="fechaInicialFiltro" type="date" placeholder="Fecha inicial" onchange="filterTable(6)">
        <span>-</span>
        <input id="fechaFinalFiltro" type="date" placeholder="Fecha final" onchange="filterTable(6)">
    </div>
    <select id="proveedorFiltro" onchange="filterTable(6)">
        
    </select>
    <select id="comprobanteFiltro" onchange="filterTable(6)">

    </select>
</div>
<table>
    <thead>
        <tr>
            <th>Proveedor</th>
            <th>Número de factura</th>
            <th>Fecha de Factura</th>
            <th>Número de Comprobante de pago</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody id="facturas-table-body">
        
    </tbody>
</table>
<div class="pagination">

</div>
