<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Gestión de Inventario</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../../public/CSS/dashboard-css/dashboard.css">
    <script src="../../node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
</head>

<body onload="showUserData()">
    <header>
        <div>Inicio</div>
        <div class="logo"><img src="../../public/assets/img/logo.png" alt="" style="width: 50px"></div>
    </header>
    <div class="main-container">
        <div class="sidebar">
            <div class="user-info">
                <span class="material-icons user-icon">account_circle</span>
                <span class="user-name" id="user-name"></span>
                <span class="user-role" id="user-role"></span>
            </div>
            <div class="menu-item" onclick="toggleSubmenu('more-options')">
                <div class="menu-item-header">
                    <span>Ver más opciones</span>
                    <span class="material-icons" id="more-options-arrow">arrow_drop_down</span>
                </div>
                <div class="submenu" id="more-options">
                    <button class="menu-item more-option-buttons">Perfil</button>
                    <button class="menu-item more-option-buttons" onclick="adjuntarHTML('/configuration-panel/configuration-panel.html', 0)">Configuración</button>
                    <button class="menu-item more-option-buttons" onclick="logout()">Cerrar Sesión</button>
                </div>
            </div>
            <button class="menu-item" onclick="adjuntarHTML('/usuarios/usuarios-admin.html', cargarUsuariosTabla)">Administrar usuarios</button>
            <button class="menu-item">Administrar inventario</button>
            <button class="menu-item" onclick="adjuntarHTML('/factura-view/factura-admin.html', cargarFacturasTabla)">Administrar facturas</button>
            <button class="menu-item" onclick="adjuntarHTML('/salida-producto/salida-admin.html', cargarSalidasTabla)">Administrar salida de productos</button> <button class="menu-item">Administrar comprobantes de pago</button>
        </div>
        <div id="inner-div" class="main-content">

        </div>
    </div>
    <script src="../../public/js/dashboard-js/dashboard.js"></script>
    <script src="../../public/js/dashboard-js/facturas.js"></script>
    <script src="../../public/js/dashboard-js/salidas.js"></script>
    <script src="../../public/js/dashboard-js/productos.js"></script>
    <script src="../../domain/ModuleSelector.js"></script>
</body>

</html>