<div class="content-header">
    <h1 class="content-title">Administrar Usuarios</h1>
    <button class="add-user-btn" title="Agregar Nuevo Usuario" onclick="agregarUsuario()">
        <span class="material-icons">person_add</span>
    </button>
</div>
<div class="search-bar">
    <input type="text" placeholder="Buscar usuarios...">
</div>
<div class="filters">
    <select>
        <option>10 por página</option>
        <option>25 por página</option>
        <option>50 por página</option>
    </select>
    <select>
        <option value="">Filtrar por tipo</option>
        <option value="admin">Administrador</option>
        <option value="user">Usuario</option>
        <option value="guest">Invitado</option>
    </select>
    <button class="close-btn" style="float: right;" onclick="limpiarDIV()">Cerrar</button>
</div>
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Nombre de Usuario</th>
            <th>Tipo</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody id="usuarios-body">

    </tbody>
</table>
<div class="pagination">
    <button><span class="material-icons">first_page</span></button>
    <button><span class="material-icons">navigate_before</span></button>
    <span>1</span>
    <button><span class="material-icons">navigate_next</span></button>
    <button><span class="material-icons">last_page</span></button>
</div>
</div>
<!-- Modal para editar usuario -->
<div id="editarUsuarioModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="cerrarModal()">&times;</span>
        <h2 id="modalTitle"></h2>
        <form id="editarUsuarioForm" class="editar-usuario-form">
            <input type="hidden" id="idUsuario">

            <label style="display: none;" id="colaboradorSelectLabel" for="colaboradorName">Colaborador:</label>
            <select style="display: none;" id="colaboradorName" name="colaboradorName" required>
                <!-- Opciones de roles se llenarán aquí -->
            </select>

            <label for="nombreUsuario">Nombre de Usuario:</label>
            <input type="text" id="nombreUsuario" name="nombreUsuario" required>

            <label for="newPassword">Nueva Contraseña:</label>
            <div class="password-container">
                <input type="password" id="newPassword" name="newPassword" required>
                <span class="toggle-password">
                    <i id="toggleNewPasswordIcon" class="fa fa-eye-slash"
                        onclick="togglePasswordVisibility('newPassword', 'toggleNewPasswordIcon')"></i>
                    <!-- Ojo cerrado -->
                </span>
            </div>

            <label for="confirmPassword">Confirmar Nueva Contraseña:</label>
            <div class="password-container">
                <input type="password" id="confirmPassword" name="confirmPassword" required>
                <span class="toggle-password">
                    <i id="toggleConfirmPasswordIcon" class="fa fa-eye-slash"
                        onclick="togglePasswordVisibility('confirmPassword', 'toggleConfirmPasswordIcon')"></i>
                    <!-- Ojo cerrado -->
                </span>
            </div>

            <!-- Aquí se mostrará el mensaje de error si las contraseñas no coinciden -->
            <p id="passwordError" style="color: red; display: none;">Las contraseñas no coinciden</p>

            <label for="roleName">Rol:</label>
            <select id="roleName" name="roleName" required>
                <option value="">Seleccione un rol</option>
                <!-- Opciones de roles se llenarán aquí -->
            </select>

            <button class="close-btn" type="button" id="buttonModal">Guardar Cambios</button>
        </form>
    </div>
</div>



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">