.add-collaborator-btn {
    background-color: var(--secondary-color);
    color: var(--background-color);
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-collaborator-btn:hover {
    background-color: #7a1bd2;
}