
/* ESTILOS PARA EL SELECT DE MODULE */
/* Contenedor principal */
#module-container {
    position: relative;
}

/* Simulación del select (botón principal) */
#selected-module {
    width: 100%;
    padding: 2px;
    background: #fff;
    cursor: pointer;
    text-align: left;
    border-radius: 5px;
}

/* Estilos de la lista desplegable */
#module-list {
    display: none;
    position: absolute;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;
    border-radius: 5px;
    margin-left: -11px;
}

/* Cada module dentro de la lista */
.module-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

/* Hover: Borde azul y sombra */
.module-item:hover {
    border: 2px solid #007bff;
    /* Borde azul moderno */
    box-shadow: 0 2px 10px rgba(0, 123, 255, 0.4);
    /* Sombra sutil */
}

/* Input dentro de la lista */
.module-item input {
    border: none;
    background: transparent;
    width: 100%;
    cursor: pointer;
}

/* Icono de eliminar */
.module-item button {
    background: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: red;
    font-size: 17px;
}

/* Mostrar la lista cuando está activa */
#module-container.open #module-list {
    display: block;
}

/* Estilo para cuando module es seleccionada para eliminar (rojo) */
.deleting-module {
    padding: 8px;
    border: solid #ff0000;
    /* Borde azul moderno */
    box-shadow: 0 2px 10px rgba(255, 0, 0, 0.4);
}

.deleting-module:hover {
    padding: 8px;
    border: 2px solid #ff0000;
    /* Borde azul moderno */
    box-shadow: 0 2px 10px rgba(255, 0, 0, 0.4);
}

/* Estilo para confirmar o cancelar la acción */
.delete-buttons-container {
    display: flex;
    gap: 10px;
    margin-top: 1px;
}

.delete-buttons-container button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
}

.delete-buttons-container button.confirm {
    background-color: rgb(255, 73, 73);
    color: white;
}

.delete-buttons-container button.cancel {
    background-color: #ccc;
}