<div class="content-header">
    <h1 class="content-title">Productos de la Salida</h1>
    <button class="back-btn" onclick="volverAListadoSalidas()">Volver</button>
</div>
<table>
    <thead>
        <tr>
            <th>ID Salida Producto</th>
            <th>ID Producto</th>
            <th>Nombre Producto</th>
            <th>Cantidad Anterior</th>
            <th>Cantidad Saliendo</th>
            <th>Cantidad Nueva</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody id="productos-salida-table-body"></tbody>
</table>