<div class="main-content">
    <div class="content-header">
        <h1 class="content-title">Administrar Salidas de Productos</h1>
        <button class="add-salida-producto-btn" title="Agregar Nueva Salida de Producto" onclick="agregarSalidaProducto()">
            <span class="material-icons">add_circle</span>
        </button>
    </div>
    <div class="search-bar">
        <input id="search-bar" type="text" placeholder="Buscar salidas de productos..." onkeypress="filterTable(6)">
    </div>
    <div class="filters">
        <select id="selectPageSize" onchange="filterTable(6)">
            <option value="5">5 por página</option>
            <option value="10">10 por página</option>
            <option value="25">25 por página</option>
            <option value="50">50 por página</option>
        </select>
        <select id="estado-filtro" onchange="filterTable(6)">
            <option value="2">Filtrar por estado</option>
            <option value="1">Activo</option>
            <option value="0">Inactivo</option>
        </select>
        <button class="close-btn" style="float: right;" onclick="limpiarDIV()">Cerrar</button>
    </div>
    <table>
        <thead>
            <tr>
                <th>ID Salida Producto</th>
                <th>Nombre Producto</th> <!-- Cambiar el encabezado a Nombre Producto -->
                <th>Cantidad Anterior</th>
                <th>Cantidad Saliendo</th>
                <th>Cantidad Nueva</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="salidasProductosTableBody">

        </tbody>
    </table>
    <div class="pagination">

    </div>
</div>