<link rel="stylesheet" href="../../public/CSS/dashboard-css/config-panel.css">
<div class="main-content">
    <div class="content-header">
        <h1 class="content-title">Panel de Configuración</h1>
    </div>
    <div class="config-grid">
        <div class="config-card">
            <span class="material-icons config-icon">manage_accounts</span>
            <h2 class="config-title">Administrar roles de usuario</h2>
            <p class="config-description">Gestiona los roles y permisos de los usuarios del sistema.</p>
        </div>
        <div class="config-card">
            <span class="material-icons config-icon">groups</span>
            <h2 class="config-title" onclick="adjuntarHTML('/configuration-panel/manage-collaborators.html', () => cargarColaboradoresTabla())">Administrar empleados</h2>
            <p class="config-description">Gestiona la información y los registros de los empleados.</p>
        </div>
        <div class="config-card">
            <span class="material-icons config-icon">account_balance</span>
            <h2 class="config-title">Administrar entidades financieras</h2>
            <p class="config-description">Configura y gestiona las entidades financieras asociadas.</p>
        </div>
        <div class="config-card">
            <span class="material-icons config-icon">credit_card</span>
            <h2 class="config-title">Administrar cuentas bancarias</h2>
            <p class="config-description">Gestiona las cuentas bancarias de la empresa.</p>
        </div>
        <div class="config-card">
            <span class="material-icons config-icon">category</span>
            <h2 class="config-title">Administrar categorías de productos</h2>
            <p class="config-description">Configura y organiza las categorías de los productos.</p>
        </div>
        <div class="config-card">
            <span class="material-icons config-icon">local_shipping</span>
            <h2 class="config-title">Administrar proveedores</h2>
            <p class="config-description">Gestiona la información y los registros de los proveedores.</p>
        </div>
        <div class="config-card">
            <span class="material-icons config-icon">work</span>
            <h2 class="config-title">Administrar puestos de trabajo</h2>
            <p class="config-description">Configura y gestiona los diferentes puestos de trabajo.</p>
        </div>
        <div class="config-card">
            <span class="material-icons config-icon">business</span>
            <h2 class="config-title">Administrar departamentos de trabajo</h2>
            <p class="config-description">Organiza y gestiona los departamentos de la empresa.</p>
        </div>
    </div>
</div>
</div>