<link rel="stylesheet" href="../../public/CSS/dashboard-css/dashboard.css">
<link rel="stylesheet" href="../../public/CSS/dashboard-css/module-seletor.css">
<div class="main-content">
    <div class="content-header">
        <h1 class="content-title">Administrar Cuentas Bancarias</h1>
        <button onclick="mostrarFormCrearCuentaBancaria()" class="add-cuenta-bancaria-btn"
            title="Agregar Nueva Cuenta Bancaria">
            <span class="material-icons">add_business</span>
        </button>
    </div>
    <div class="search-bar">
        <input id="search-bar" type="text" placeholder="Buscar cuentas bancarias..." onkeypress="filterTable(9)">
        <button onclick="filterTable(9)" class="search-btn">Buscar</button>
    </div>

    <div class="filters">
        <select id="selectPageSize" onchange="filterTable(9)">
            <option value="5">5 por página</option>
            <option value="10">10 por página</option>
            <option value="25">25 por página</option>
            <option value="50">50 por página</option>
        </select>
        <select id="estado-filtro" onchange="filterTable(9)">
            <option value="2">Todas</option>
            <option value="1">Activas</option>
            <option value="0">Inactivas</option>
        </select>
        <select id="entidad-financiera-filtro" onchange="filterTable(9)">
            <option value="0">Filtrar por entidad financiera</option>
        </select>
        <select id="divisa-filtro" onchange="filterTable(9)">
            <option value="nula">Filtrar por tipo de divisa</option>
            <option value="CRC">CRC</option>
            <option value="USD">USD</option>
        </select>

        <button class="close-btn" style="float: right;"
            onclick="adjuntarHTML('/configuration-panel/configuration-panel.html', 0)">Regresar</button>
    </div>
    <table>
        <thead>
            <tr>
                <th>Nombre del Banco</th>
                <th>Número de cuenta</th>
                <th>Tipo de Divisa</th>
                <th>Entidad Financiera</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="cuentas-bancarias-body">

        </tbody>
    </table>
    <div class="pagination">

    </div>

    <div id="crearEditarCuentaBancariaModal" class="modal">
        <div class="modal-content">
            <span class="close"
                onclick="cerrarModal('crearEditarCuentaBancariaModal', 'crearEditarCuentaBancariaForm')">&times;</span>
            <h2 id="modalTitle"></h2>
            <form id="crearEditarCuentaBancariaForm" class="editar-entidad-financiera-form">

                <label for="entidadFinanciera">Entidad Financiera:</label>
                <div id="module-container">
                    <div id="select-wrapper">
                        <div id="selected-module" onclick="toggleModuleList()">
                            Selección
                            <span class="dropdown-icon"></span>
                        </div>
                        <div id="module-list"></div>
                    </div>
                    <button id="add-module-btn" title="Agregar">＋</button>
                </div>
                <!-- Modal popup para nuevo módulo -->
                <div id="module-popup" class="popup-overlay">
                    <div class="popup-content">
                        <h3>Agregar</h3>

                        <!-- Aquí va el nuevo div de error -->
                        <div id="module-error" style="color: red; font-size: 0.9em; margin-bottom: 8px; display: none;">
                        </div>

                        <label for="nombre">Nombre:</label>
                        <input type="text" id="nombre" name="nombre">

                        <label for="telefono">Teléfono (+506):</label>
                        <input type="text" id="telefono" name="telefono" min="8">

                        <label for="correo">Correo Electrónico:</label>
                        <input type="email" id="correo" name="correo">

                        <label for="tipo">Tipo:</label>
                        <input type="text" id="tipo" name="tipo" required>
                        <div class="popup-buttons">
                            <button id="save-module" type="button">Guardar</button>
                            <button id="cancel-module" type="button">Cancelar</button>
                        </div>
                    </div>
                </div>

                <input type="hidden" id="idCuentaBancaria" name="idCuentaBancaria">

                <label for="nombre">Nombre del banco:</label>
                <input type="text" id="nombreBanco" name="nombre">

                <label for="telefono">Número de cuenta bancaria:</label>
                <input type="text" id="numeroCuenta" name="numeroCuenta" min="8">

                <label for="correo">Tipo de divisa:</label>
                <select id="divisa" name="divisa">
                    <option value="CRC">CRC</option>
                    <option value="USD">USD</option>
                </select>

                <p id="errorMessage" style="color: red;"></p>

                <button type="button" class="close-btn" id="buttonModal" onclick="validarYEditarCuentaBancaria()">Guardar Cambios</button>
            </form>
        </div>
    </div>
</div>
</div>