<div class="main-content">
    <div class="content-header">
        <h1 class="content-title">Administrar Departamentos de Trabajo</h1>
        <button class="add-category-btn" title="Agregar Nuevo Departamento" onclick="agregarDepartamento()">
            <span class="material-icons">add_circle</span>
        </button>
    </div>
    <div class="search-bar">
          <input id="search-bar" type="text" onkeypress="filterTable(11)" placeholder="Buscar departamentos de Trabajo...">
    </div>
    <div class="filters">
        <select id="selectPageSize" onchange="filterTable(11)">
            <option value="5">5 por página</option>
            <option value="10">10 por página</option>
            <option value="25">25 por página</option>
            <option value="50">50 por página</option>
        </select>
        <select id="estado-filtro" onchange="filterTable(11)">
            <option value="2">Filtrar por estado</option>
            <option value="1">Activo</option>
            <option value="0">Inactivo</option>
        </select>
    </div>
    <table>
        <thead>
            <tr>
                <th>Nombre del Departamento</th>
                <th>Descripción</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="departamentos-body">
            <!-- Aquí se cargarán los departamentos -->
        </tbody>
    </table>
    <div class="pagination">
        <!-- Aquí se cargarán los controles de paginación -->
    </div>
</div>
<div id="crearDepartamentoModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="cerrarModal('crearDepartamentoModal', 'crearDepartamentoForm')">&times;</span>
        <h2 id="modalTitle">Crear Departamento</h2>
        <form id="crearDepartamentoForm">
    <input type="hidden" id="idDepartamento" name="idDepartamento">
    <label for="nombreDepartamento">Nombre del Departamento:</label>
    <input type="text" id="nombreDepartamento" name="nombreDepartamento" placeholder="Ingrese el nombre del departamento" required>

    <label for="descripcionDepartamento">Descripción:</label>
    <textarea id="descripcionDepartamento" name="descripcionDepartamento" placeholder="Ingrese una descripción del departamento" required></textarea>

   
    <p id="errorMessage" style="color: red;"></p>

    <button type="button" class="close-btn" id="buttonModal">Registrar</button>
</form>
    </div>
</div>