<link rel="stylesheet" href="../../public/CSS/dashboard-css/colaboradores.css">
<div class="main-content">
    <div class="content-header">
        <h1 class="content-title">Administrar Colaboradores</h1>
        <button onclick="agregarColaborador()" class="add-collaborator-btn" title="Agregar Nuevo Colaborador">
            <span class="material-icons">person_add</span>
        </button>
    </div>
    <div class="search-bar">
        <input id="search-bar" type="text" placeholder="Buscar colaboradores..." onkeypress="filterTable(2)">
    </div>
    <div class="filters">
        <select id="selectPageSize" onchange="filterTable(2)">
            <option value="5">5 por página</option>
            <option value="10">10 por página</option>
            <option value="25">25 por página</option>
            <option value="50">50 por página</option>
        </select>
        <select id="departamento-filtro" onchange="filterTable(2)">

        </select>
        <select id="puesto-filtro" onchange="filterTable(2)">

        </select>
        <select id="estado-filtro" onchange="filterTable(2)">
            <option value="2">Filtrar por estado</option>
            <option value="1">Activo</option>
            <option value="0">Inactivo</option>
        </select>
        <button class="close-btn" style="float: right;" onclick="adjuntarHTML('/configuration-panel/configuration-panel.html', 0)">Regresar</button>
    </div>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Número de teléfono</th>
                <th>Correo electrónico</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="colaboradores-body">

        </tbody>
    </table>
    <div class="pagination">

    </div>
    <!-- Modal para editar colaborador -->
    <div id="editarColaboradorModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="cerrarModal('editarColaboradorModal', 'editarColaboradorForm')">&times;</span>
            <h2 id="modalTitle"></h2>
            <form id="editarColaboradorForm" class="editar-colaborador-form">
                <input type="hidden" id="idColaborador">

                <label for="cedulaColaborador">Cédula:</label>

                <div style="display: flex;">
                    <input type="text" id="cedulaColaborador" name="cedulaColaborador" required>
                    <button class="close-btn" type="button" id="" onclick="obtenerNombrePorCedula()">Cargar Datos</button>
                </div>
                

                <label for="nombreColaborador">Nombre:</label>
                <input type="text" id="nombreColaborador" name="nombreColaborador" required>

                <label for="primerApellidoColaborador">Primer Apellido:</label>
                <input type="text" id="primerApellidoColaborador" name="primerApellidoColaborador" required>

                <label for="segundoApellidoColaborador">Segundo Apellido:</label>
                <input type="text" id="segundoApellidoColaborador" name="segundoApellidoColaborador" required>

                <label for="fechaNacimiento">Fecha de Nacimiento:</label>
                <input type="date" id="fechaNacimiento" name="fechaNacimiento" required>

                <label for="numTelefono">Número de Teléfono:</label>
                <input type="tel" id="numTelefono" name="numTelefono" required>

                <label for="correoColaborador">Correo Electrónico:</label>
                <input type="email" id="correoColaborador" name="correoColaborador" required>

                <label for="nombrePuesto">Puesto:</label>
                <select id="nombrePuesto" name="nombrePuesto" required>
                    <!-- Opciones de puestos se llenarán aquí -->
                </select>

                <label for="nombreDepartamento">Departamento:</label>
                <select id="nombreDepartamento" name="nombreDepartamento" required>
                    <!-- Opciones de departamentos se llenarán aquí -->
                </select>

                <label for="fechaIngreso">Fecha de Ingreso:</label>
                <input type="date" id="fechaIngreso" name="fechaIngreso" required>
                <p id="errorMessage" style="color: red;"></p>

                <button type="button" class="close-btn" id="buttonModal">Guardar Cambios</button>
            </form>
        </div>
    </div>

</div>
</div>

<!--<script>
    document.addEventListener("DOMContentLoaded", () => {
        document.getElementById("cedulaColaborador").addEventListener("keydown", async (event) => {
            if (event.key === "Enter") { // Verificar si la tecla presionada es "Enter"
                obtenerNombrePorCedula();
            }
        });
    });
</script>-->