<link rel="stylesheet" href="../../public/CSS/dashboard-css/colaboradores.css">
<div class="main-content">
    <div class="content-header">
        <h1 class="content-title">Administrar Colaboradores</h1>
        <button class="add-collaborator-btn" title="Agregar Nuevo Colaborador">
            <span class="material-icons">person_add</span>
        </button>
    </div>
    <div class="search-bar">
        <input id="search-bar" type="text" placeholder="Buscar colaboradores..." onkeypress="filterTable(2)">
    </div>
    <div class="filters">
        <select id="selectPageSize" onchange="filterTable(2)">
            <option value="5">5 por página</option>
            <option value="10">10 por página</option>
            <option value="25">25 por página</option>
            <option value="50">50 por página</option>
        </select>
        <select id="departamento-filtro" onchange="filterTable(2)">

        </select>
        <select id="puesto-filtro" onchange="filterTable(2)">

        </select>
        <select id="estado-filtro" onchange="filterTable(2)">
            <option value="2">Filtrar por estado</option>
            <option value="1">Activo</option>
            <option value="0">Inactivo</option>
        </select>
        <button class="close-btn" style="float: right;" onclick="limpiarDIV()">Cerrar</button>
    </div>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Número de teléfono</th>
                <th>Correo electrónico</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="colaboradores-body">

        </tbody>
    </table>
    <div class="pagination">

    </div>
</div>
</div>